<!--
<%= form_with(url: "/users", method: "post") do |form| %>

    <%= label_tag(:username, "Name:") %>
    <%= form.text_field :username %>
     <%= label_tag(:email, "Email:") %>
      <%= form.email_field :email %>
       <%= label_tag(:password, "Password:") %>
        <%= form.password_field :password %>
    <%= submit_tag("Submit") %>
  <% end %>
-->

<h1>Edit user</h1>
<br>
<%= form_for @user, :validate => true do |f| %>
<ul>
  <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  username: <%= f.text_field :username, :placeholder =>  'Your user name here' %>
  email : <%= f.email_field :email, :placeholder =>  'user@domain.com' %>
  password : <%= f.password_field :password %>
  <%= f.submit("Submit") %>
<% end %>

